# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
vault/
/mashery-api-auth.iml
/docker/mashery-api-auth_*
/.idea/
/bin/
/test/role-id.txt
/test/secret-id.txt
/.secrets/
/samples/autonomous-setup/.secret/certs.json
/samples/autonomous-setup/.secret/unseal.json.enc
/samples/autonomous-setup/.secret/agent_role_*
/samples/autonomous-setup/.secret/ca.pem
/samples/autonomous-setup/.secret/cert.*
/samples/autonomous-setup/.secret/encryption_check.enc

# Excluded docker build temporary files
/docker/base-image/hcvault-mashery-api-auth_v*
/docker/local-no-tls/hcvault-mashery-api-auth_v*
/docker/tls-enabled/hcvault-mashery-api-auth_v*
/docker/tls-enabled/vault-container.*

/docker/tls-enabled/dist/
/samples/autonomous-setup/agent/agent_role_id
/samples/autonomous-setup/agent/agent-*.log
